.arcticmodal-overlay,
.arcticmodal-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
.arcticmodal-container {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}
.arcticmodal-container + .select2-container {
    z-index: 1005;
}
*:first-child + html .arcticmodal-container {
    height: 100%
}
.arcticmodal-container_i {
    border-collapse: collapse;
    height: 100%;
    margin: 0 auto;
}
.arcticmodal-container_i2 {
    /* padding: 3vh 6px 3vh; */
    margin: 0;
    border: 0;
    vertical-align: middle;
}

.arcticmodal-error {
    padding: 20px;
    border-radius: 10px;
    background: #222222;
    color: #ffffff;
}
.arcticmodal-loading {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #ffffff url(data:image/gif;base64,R0lGODlhIAAIAKECAEVojoSctMHN2QAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgADACwAAAAAIAAIAAACFZyPqcvtD6KMr445LcRUN9554kiSBQAh+QQFCgADACwCAAIAEgAEAAACD4xvM8DNiJRz8Mj5ari4AAAh+QQFCgADACwCAAIAHAAEAAACGJRvM8HNCqKMCCnn4JT1XPwMG9cJH6iNBQAh+QQFCgADACwMAAIAEgAEAAACD5RvM8HNiJRz8Mj5qri4AAAh+QQFCgADACwWAAIACAAEAAACBZSPqYsFACH5BAUUAAMALAAAAAAgAAgAAAIOnI+py+0Po5y02ouzPgUAOw==) no-repeat 50% 50%;
}
.intopModal {
    position: relative;
    transform: translateX(-105vw);
    transition: transform .4s ease-in-out;
    background-color:  #1e1e1e;
}
.intopModal__wrap {
    height: 0;
    overflow: hidden;
}
.intopModal__inner {
    position: relative;
    height: 100%;
}
.intopModal__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    padding: 7px;
    fill: white;
    cursor: pointer;
    transition: transform .3s ease;
    z-index: 100;
}
.intopModal__close svg {
    width: 18px;
    height: 18px;
}
.intopModal__close:hover {
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.intopModal__close:focus {
    outline: none;
}
@media only screen and (min-height: 681px) {
    .arcticmodal-container_i2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media only screen and (min-width: 801px) {
    .arcticmodal-container_i2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.arcticmodal-overlay {
    background-color: rgba(96, 96, 96, 0.2);
    opacity: 1;
}