:root {
/* Breakpoints */
/* < 600 - mobile */
--fablet-width: 568px;       /* from-fablet */
--tablet-width: 768px; /* from-tablet */
--laptop-width: 1100px; /* from-laptop */
--notebook-width: 1201px; /* from-notebook */
--desktop-width: 1520px; /* from-desktop */
/* Sizes */
--html-min-width: 360px;
--html-max-width: 1920px;
}